* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
}
.container {
  width: 90%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.quizApp {
  font-size: 28px;
}
